.pathblock-container {
  .quarter-style {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 768px) {
      // flex-direction: column;
    }

    .main-style {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30%;
      color: #fff;
      padding-right: 10px;

      .header-text {
        font-size: 50px;
        font-weight: 700;
        @media screen and (max-width: 768px) {
          font-size: 30px;
        }
      }
      .sub-header {
        font-size: 28px;
        font-weight: 700;
        @media screen and (max-width: 768px) {
          font-size: 17px;
        }
      }
      .divider {
        width: 60px;
        height: 6px;
        background: #fff;
        margin-top: 50px;
        margin-bottom: 50px;
        @media screen and (max-width: 768px) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }

      .sub-title {
        font-size: 26px;
        @media screen and (max-width: 768px) {
          font-size: 15px;
        }
      }

      content {
        width: 80%;
        padding-top: 20px;
        font-size: 16px;
        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }
      // @media screen and (max-width: 768px) {
      //   width: 100%;
      // }
    }

    .main-quater-style {
      border-right: 12px solid #82a0e3;
      box-sizing: border-box;
      display: flex;
      width: 70%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .main-quater-text {
        padding-top: 5%;
        width: 70%;

        @media screen and (max-width: 768px) {
          width: 100%;

          h2 {
            font-size: 1rem;
          }
        }
      }
    }

    .quarter-icon {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
